[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]



[packages]

django = "==2.2.24"
raven = "*"
django-rest-swagger = "==2.1.2"
djangorestframework = "==3.7.7"
qiniu = "==7.2.0"
ipython = "*"
mysqlclient = "*"
gunicorn = "*"
